# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Frontend/node_modules
/Frontend/.pnp
/Frontend/.pnp.js
/Backend/node_modules
/Backend/nodemon.js
/Backend/uploads.js
/Backend/uploads/images.js


# testing
/Frontend/coverage

# production
/Frontend/build

# misc
/Frontend/.DS_Store
/Frontend/.env.local
/Frontend/.env.development.local
/Frontend/.env.test.local
/Frontend/.env.production.local

/Frontend/npm-debug.log*
/Frontend/yarn-debug.log*
/Frontend/yarn-error.log*


